<footer>
  <div>
    <%= link_to image_tag("belgium-gaa-logo.svg", alt: "Belgium GAA Logo", class: "logo-footer"), root_path %>
    <p>Developed for Belgium Gaelic Games - 2021</p>
  </div>
  <div class="footer-links">
    <a href="https://github.com/margaux-m/moiminteam" target="_blank">
      <%= image_tag("icon-github.svg", class: "footer-link") %>
      <%= image_tag("icon-github-white.svg", class: "footer-link-hover") %>
    </a>
    <a href="https://www.margauxmansanarez.com" target="_blank">
      <%= image_tag("icon-mm.svg", class: "footer-link") %>
      <%= image_tag("icon-mm-white.svg", class: "footer-link-hover") %>
    </a>
  </div>
</footer>
